<div fxLayout="row wrap">
  <div fxFlex>
    <div fxLayout="column">
      <div>
        <img src="./assets/flynn.png">
      </div>
      <div>
        <em>
          Photo by Jason Kimpin on <a class="attribution-link" href="https://www.youtube.com/watch?v=QTsZJHBLAR4">Youtube</a>
        </em>
      </div>
    </div>
  </div>

  <div fxFlex>
    <h1 class="blue">Who Is Gillian Flynn?</h1>
    <p>
      Gillian Flynn, the acclaimed author of the best-selling novel "Gone Girl,"
      is a master of psychological suspense. With a knack for crafting intricate plots and
      flawed yet compelling characters, Flynn has captivated readers worldwide. Her dark and
      twisted narratives explore the complexities of human relationships, deception, and the
      secrets we hide. "Gone Girl" catapulted her to literary stardom, cementing her reputation
      as a skilled storyteller in the thriller genre. Flynn's gripping tales continue to
      enthrall and mystify audiences.
    </p>
    <em>Biography by <a href="https://williamjohnaustin.com" target="_blank" class="attribution-link">William John Austin</a></em>
  </div>
</div>
