<div class="container">
  <br /><br />
  <h2>BRAIN ENO</h2>
  <br />
  <div class="row">
    <div class="col-sm-4" style="border: 1pt solid black;">
      <br />
      <img src="./assets/eno_2015.png" style="margin-left: 50px;">
      <p style="font-size: 10pt; margin-left: 50px;">Eno in 2015 Interview for "How We Get To Next"</p>
    </div>
    <div class="col-sm-6" style="border: 1pt solid black; margin-left: 10pt;">
      <br />
      <p style="font-size: 14pt; font-family: 'Courier New', Courier, monospace;">
        Brian Eno, a pioneering English musician, producer, and visual artist,
        reshaped the landscape of music. Born in 1948, he gained fame as a member
        of Roxy Music before embarking on a trailblazing solo career.
        Eno's ambient soundscapes and innovative production techniques, evident in albums
        like "Music for Airports," inspired countless artists. His eclectic collaborations
        span from U2 to David Bowie. Eno's imprint on modern music and his artistic endeavors
        continue to captivate and influence worldwide.
      </p>
    </div>
  </div>
</div>
