<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<div fxLayout="row wrap">

  <div fxFlex>
    <mat-card class="mat-card">
      <mat-card-title class="card-title-icon">
          <mat-icon color="primary" class="material-symbols-outlined">
            home
          </mat-icon>
      </mat-card-title>
      <br />
      <mat-card-content class="align-center">
        <p>1543 Scary Sally Ln</p>
        <p>Kansas City, Missouri 96145</p>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex>
    <mat-card class="mat-card">
      <mat-card-title class="card-title-icon">
        <mat-icon color="primary" class="material-symbols-outlined">call</mat-icon>
      </mat-card-title>
      <br />
      <mat-card-content class="align-center">
        <p>Direct: 555-555-5555</p>
        <p>Toll-free: 1-800-555-5555</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<br /><br /><br /><br />

<div fxLayout="column">
    <p style="text-align: center">
        Visit us online or at one of our many great locations throughout the United States.
    </p>
</div>
