<div class="container">
  <br /><br />
  <h2>CONTACT INFO</h2>
  <br /><br />
  <div class="row" style="border: 1pt solid black;">
    <div class="col-sm-6">
      <br />
      <div class="header">
        <h4>Street Address</h4>
      </div><br/>
      <p>
        4565 Music Street <br />
        Essex, London, England
      </p>

    </div>
    <div class="col-sm-6" style="text-align: right;">
      <br />
      <div class="header">
        <h4>Phone Number</h4>
      </div><br/>
      <p>
        +44 7911 123 456
      </p>
    </div>
  </div>
</div>
